
.navbar {
      margin-bottom: 0;
      border-radius: 0;
    }


h1 {
  font-family: 'Playfair Display', serif;
  text-align: center;
  text-shadow: 4px 4px rgba(51, 51, 51, .25);
  font-size: 70px;
  color: rgba(158, 114, 89, .95);
}

body {
  background: url("https://i.imgur.com/qRnLqdU.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #333333;
  text-align: center;
}

textarea {
  box-sizing: border-box;
  border: 5px solid #333333;
  border-radius: 4px;
  font-size: 16px;
  background-color: rgba(217, 217, 217, .7);
  color: #333333;
  padding: 5px 10px;
  resize: none;
}

textarea:focus {
  outline: none;
  width: 50%;
  height: 175px;
}

.black-background {
  background-color: #333333;
  border-color: rgba(158, 114, 89, .95);
}

/* input [type=submit] {
  background-color: #333333;
} */
